<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row justify-content-center align-items-center"> 
        <p class="title">Discover the World, Discover Yourself!</p>

        </div>
    </div>
    
   
    
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="container form">
                <form [formGroup]="formGroup"  (ngSubmit)="onSubmit()">
                    <div class="row">
                    <mat-form-field >
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="rangePicker" [min]="minDate">
                        <input   matStartDate formControlName="startDate" placeholder="Start date" >
                        <input matEndDate formControlName="endDate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker>
                        <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                        </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                        <mat-error *ngIf="formGroup.get('startDate')?.hasError('required') || formGroup.get('endDate')?.hasError('required')">Date Range is required</mat-error>
                    </mat-form-field>
                    </div>

                    <div class="row">
                    <mat-form-field>
                
                    <mat-label>
                        Countries
                    </mat-label>
                    <input formControlName="country" matInput type="text" [matAutocomplete]="autoCountry">
                    <mat-autocomplete #autoCountry="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountry" [value]="country">
                        {{country}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formGroup.get('country')?.hasError('required') ">Country is required</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="row">
                    <mat-form-field>
                        <mat-label>
                            Region
                        </mat-label>
                        <input formControlName="region" matInput type="text" [matAutocomplete]="autoRegion">
                        <mat-autocomplete #autoRegion="matAutocomplete">
                            <mat-option *ngFor="let region of filteredRegion" [value]="region">
                            {{region}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formGroup.get('region')?.hasError('required') ">Region is required</mat-error>
                    </mat-form-field>
                    </div>
                    
                    <div class="row" *ngIf="!this.isCityMunicipalSameAsRegionVariable">
                  
                    <mat-form-field *ngIf="includeCityMunicipal" >
                        <mat-label>
                            City/Municipal
                        </mat-label>
                        <input formControlName="municipal" matInput type="text" [matAutocomplete]="autoCity" >
                        <mat-autocomplete #autoCity="matAutocomplete">
                            <mat-option *ngFor="let city of filteredCity" [value]="city">
                            {{city}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formGroup.get('municipal')?.hasError('required') ">City/Municipal is required</mat-error>
                    </mat-form-field>
                        </div>
                    <div class="row " *ngIf="this.isCityMunicipalSameAsRegionVariable">
                        <span class="text">The region is the city/municipal as well</span>
                    </div>

                    <section class="checkbox" *ngIf="!this.isCityMunicipalSameAsRegionVariable">
                        <mat-checkbox class="example-margin" [color]="'primary'" (change)="toggleCityMunicipal($event.checked)" [checked]="includeCityMunicipal">Include City/Municipal</mat-checkbox>
                    </section>
                    <div class="row">
                    <button type="submit" class="submit btn btn-dark" [disabled]="formGroup.invalid" >Create Itinerary</button>
                    </div>

                </form>
        </div>
    </div>
</div>
</div>

</body>
</html>
