.top-bottom-form{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.top-bottom-form mat-form-field
{
    width:100%;
}

.bottom-login-button {
    background: #435688;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s;
    /* border: 1px solid #435688; */
    outline: none;
    
    margin-top: 10px;
    width:100%; /* Add space between the password field and the additional button */
    position:relative

  }
  .bottom-login-button:disabled {
    opacity: 0.6; /* Adjust opacity to visually indicate the button is disabled */
    cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
  }
  .bottom-login-button:not([disabled]):hover {
    background-color: #6078b6; /* Change background-color on hover */
  }

  .bottom-signup-button {
    background: #9e3434;
    border: 1px solid #9e3434;
    color: #fff;
    transition: background-color 0.5s;
    border-radius: 6px;
    margin-top: 10px;
    width:100%; /* Add space between the password field and the additional button */
    position:relative
  }
  .bottom-signup-button:hover {
    background-color: #a95353; /* Change background-color on hover */
  }

  .bottom-login-button mat-icon {
    position: absolute; /* Position the icon absolutely */
    left: 5px; /* Adjust the left position as needed */
    top: 50%; /* Align the icon vertically in the middle */
    transform: translateY(-50%); /* Center the icon vertically */
    
  }
  .bottom-signup-button mat-icon {
    position: absolute; /* Position the icon absolutely */
    left: 5px; /* Adjust the left position as needed */
    top: 50%; /* Align the icon vertically in the middle */
    transform: translateY(-50%); /* Center the icon vertically */
  }