<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
    <!-- <h2>GPT Response</h2> -->

    <div class="container">
        <div class="row border">
            <div class="col-10 border" ><span>Title: {{Title}}</span></div>
            <div class="col-2 border"><button class="btn btn-light" (click)="openDialog()">Add/Change Title</button></div>
        </div>
        
    <div *ngIf="GPTresponse$ | async as Response; else noReponse">
        <!-- <div *ngIf="GPTresponse$ | async as Response; "> -->
            

        <div *ngIf="Response.Activities.length>0">

            <div class="row border">
                <div class="col-6">Start Date:<span>{{Response.Start_Date}}</span></div>
                <div class="col-6">End Date:<span>{{Response.End_Date}}</span></div>
            </div>

            <div class="row border">
                    <div class="col-6">Country:<span>{{Response.Country}}</span></div>
                    <div class="col-6">Region:<span>{{Response.Region}}</span></div>
                   
            </div>    
        
            <div class="row border border-primary justify-content-center">
                        Duration:{{Response.Duration}}
            </div>

            <!-- Treat the whole activity as a row -->
            
<!--         
            Activities: -->
            
            <div *ngFor = "let a of Response.Activities; let i = index" class="grid  row-gap-5 border border-primary">
            <div class="mt-1 row border border-danger">
            <div class =" col-6 border {{ i % 2 === 0 ? 'order-md-2' : 'order-md-1' }}">
                <div>{{i}}</div>
                <div>Day:{{a.Day}}</div>
                <div>Date:{{a.Date}}</div>
                <div>Location:{{a.Location}}</div>
                <div>Highlights:     <div *ngFor="let h of a.Highlights">
                    {{h}}
                    </div></div>
           

                </div>
                <div class="col-6 border  {{ i % 2 === 0 ? 'order-md-1' : 'order-md-2' }}">
                    <!-- for image -->
                    <div>Image:{{a.Image}}</div>
                </div>
            
           
            </div>   
        
            </div>
        </div>
    </div>

    <div class="row border">
        <div class="col-10 border"></div>
        <div class="col-2 border"><button class="btn btn-secondary" (click)="Save()">Save</button></div>
    </div>
    <ng-template #noReponse>
        No data
    </ng-template>
</div>



</body>
</html>
