<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
    

    <div class="container  justify-content-center align-items-center main ">
        <div *ngIf="GPTresponse$ | async as Response; else noReponse">
            <div class="row fixed justify-content-center ">
                <!-- <div class="container fixed"> -->
        
                    <div class="row">
                        <div class="col-10 title" ><span>Title: {{Title}}</span></div>
                        <div class="col-2 d-flex justify-content-end"><button class="btn btn-light change-title" (click)="openDialog()">Add/Change Title</button></div>
            
                        <div *ngIf="Response.Activities.length>0">

                            <div class="row title">
                                <div class="col-4 ">Start Date: <span>{{Response.Start_Date}}</span></div>
                                <div class="col-4 ">End Date: <span>{{Response.End_Date}}</span></div>
                            </div>

                            <div class="row title">
                                    <div class="col-4 ">Country: <span>{{Response.Country}}</span></div>
                                    <div class="col-4 ">Region: <span>{{Response.Region}}</span></div>
                                    <div class="col-4" *ngIf="Response.Municipal">City/Municipal: <span>{{Response.Municipal}}</span></div>
                            </div>

                            <div class="row justify-content-center">
                                       <div class="col d-flex justify-content-center duration">{{Response.Duration}}</div>
                            </div>
                            <div class="container  content-wrapper  ">
                                <div *ngFor = "let a of Response.Activities; let i = index" >
                                        <div class="row outer mt-3 ">
                                            <div class =" col-xl  order-md-1' ">
                                                <div class="row h-100 ">
                                                    <div class="col  order-xl-last ">
                                                        <div class="">
                                                            <div class="location" (click)="locationSearch(a.Location,Response.Country,Response.Region)"><span>{{a.Location}}</span ><span class="locationSearch">Google Search</span></div>
                                                            <div class="container highlights-box ">
                                                                <div class="highlights">
                                                                    <div class="highlights-word ">Highlights:</div>
                                                                    <div class="highlights-group container.m0  justify-content-center "><div class="highlights-list " *ngFor="let h of a.Highlights">{{h}}</div></div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col d-flex flex-column col-xl-3 justify-content-center align-items-center">
                                                        <div class="day">{{a.Day}}</div>
                                                        <div class="date">{{a.Date}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="col col-lg-5  order-md-2 d-flex justify-content-end ">
                                                <!-- for image -->
                                                <div class=ImageContainer *ngIf="a.Image">

                                                    <div class=ImageContainer><img  class="Image" [src]="a.Image" >
                                                     <span class="overlay" (click)="openPicture(a.Image)"><span class="text">Click to Enlarge Picture</span></span>
                                                 </div>
                                             </div>

                                                <div *ngIf="!a.Image">
                                                    <img class="Image" src="https://cpworldgroup.com/wp-content/uploads/2021/01/placeholder-1024x683.png">
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>

            <div class="row button">
                <div class="col-10 "></div>
                <div class="col-2  d-flex justify-content-end Save"><button class=" btn btn-secondary" (click)="Save()">Save</button></div>
            </div>
        </div>
</div>
<ng-template #noReponse>

</ng-template>



</body>
</html>
